[submodule "themes/chirpy"]
	path = themes/chirpy
	url = https://github.com/geekifan/hugo-theme-chirpy.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
